@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  background-color: #fafafa;
  color: #252934;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
  padding: 0;
  width: 100%;
}
header {
  background-color: #e1e1e1;
  height: 3.5rem;
  padding: 0;
  position: relative;
  text-align: center;
}

header .right {
  margin: 0;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 475px) {
  header .right {
    visibility: hidden;
  }
}

header .left {
  left: 1rem;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#nav-bar {
  background-color: #e1e1e1;
  height: 100%;
  transition-duration: 100ms, 200ms;
  transition-property: width, background-color;
  transition-timing-function: ease-in-out;
  width: 3.5rem;
  position: relative;
  z-index: 1;
}
#nav-bar:hover {
  background-color: #e1e1e1e0;
  width: 200px;
}

#nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#nav-bar li{
  display: block;
  padding-bottom: 3rem;
  padding-top: 1rem;
  position: relative;
  width: 100%;
}

#nav-bar li::before {
  font-size: 2rem;
  padding-left: .8rem;
}

#nav-bar li a {
  color: #25293400;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  left: 4rem;
  padding-top: .5rem;
  position: absolute;
  text-align: left;
  text-decoration: none;
  /* transtion out of hover state */
  transition-duration: 0ms;
  transition-property: opacity, color;
  transition-timing-function: ease-in-out;
  width: auto;
  opacity: 0;
  outline: 0;
}

#nav-bar:hover li a {
  color: #252934;
  /* transition into hover state */
  transition-duration: 200ms;
  transition-property: opacity, color;
  transition-timing-function: ease-in-out;
  opacity: 1;
}

.deliverable {
  background-color: #fafafa;
  bottom: 1.5rem;
  left: 5rem;
  overflow: hidden;
  overflow-y: scroll;
  position: absolute;
  right: 1.5rem;
  top: 5rem;
  z-index: 0;
}

#tracker h3 {
  border-bottom: #252934 1px solid;
}

@media only screen and (min-width: 1280px) {
  #proposal p {
    margin-right: 5rem;
  }
}

@media only screen and (min-width: 1600px) {
  #proposal p {
    margin-right: 7rem;
  }
}

#proposal .tech-label {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

#proposal .technologies {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  list-style-type: none;
  margin-right: 100%;
  justify-content: space-evenly;
}

#proposal .technologies i {
  font-size: 3rem;
  margin: 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
  text-align: center;
}

#proposal .technologies i span {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: normal;
}

#proposal .goal-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#proposal .goals, #proposal .technologies {
  padding: 0;
}

#proposal .goals {
  margin-right: auto;
}
#proposal .goals .label {
  font-size: 1rem;
  font-weight: bold;
}

#proposal .goals li {
  color: #252934;
  font-family: 'Roboto', sans-serif;
  list-style-type: none;
  padding-top: 4px;
}

#proposal .goals li span::before {
  margin-right: 8px;
}

#writeup {
  overflow-y: hidden;
}

#writeup embed {
  height: 100%;
  width: 100%;
}