*,
*::before,
*::after,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gunmetal: #252934;
  --gunmetal-half-transparency: #25293450;
  --main-accent: #09BC8A;
  --main-black: #181d23;
  --main-white: #fafafa;
  --main-white-one-shade-darker: #e1e1e1;
}

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  color: var(--gunmetal);
  background: var(--main-white);
  font-size: 62.5%;
  /* font-family: 'Kalam', cursive; */
  /* font-family: 'Noto Sans JP', sans-serif; */
  font-family: 'Comic Neue', cursive;
  overflow-x: hidden;
}

a, a:visited {
  color: var(--gunmetal);
  font-size: 1.4rem;
  text-decoration: none;
  transition: 200ms;
}

a:hover, a:active {
  color: var(--main-accent);
}



/* 
  Color Scheme Options:
    Keepers:
      #252934 - GUNMETAL
      #fafafa - BABY POWDER
    Favorites:
      #09BC8A - CARIBBEAN GREEN
      #69140E - UP MAROON
    Other:
      #6D3B47 - CATAWBA 
      #484D6D - INDEPENDENCE
      #B497D6 - LIGHT PASTEL PURPLE

  Generator:
    https://coolors.co/252934-fafafa-09bc8a-69140e-484d6d
*/